<div *ngIf="player " >
				<div nz-row nzJustify="center" >
					<div nz-md="2" ></div>
					<div nz-md="2" >
						<i nz-icon *ngIf="audioState === 'pause'" class="main-audio-btn" nzType="caret-right"
							nzTheme="outline" (click)="play()"></i>
						<i nz-icon *ngIf="audioState !== 'pause'" class="main-audio-btn" nzType="pause" nzTheme="outline"
							(click)="pause()"></i>
					</div>
					<div nz-md="2" ></div>
				</div>
				<div nz-row nzAlign="middle">
					<div nz-col nzSpan="3" >{{currenTime}}</div>
					<div nz-col nzSpan="12" >
						<!-- <nz-slider [nzMin]="0" [nzMax]="durationNum" (ngModelChange)="setTime($event)" [(ngModel)]="seek">
						</nz-slider> -->
					</div>
					<div nz-col nzSpan="3" >{{duration}}</div>
					<div nz-col nzSpan="1" >
						<i nz-icon nzType="sound" nzTheme="outline"></i>
					</div>
					<div nz-col nzSpan="3" >
						<!-- <nz-slider [nzMin]="0" [nzMax]="1" [nzStep]="0.01" (ngModelChange)="setVolume($event)"
							[(ngModel)]="audioVolume"></nz-slider> -->
					</div>
					<div nz-col nzSpan="2" >
						<i nz-icon class="stop-btn" nzType="close" nzTheme="outline" (click)="stop()"></i>
					</div>
				</div>
			</div>
